body{
    background-color: bisque;
}

#texto{
    font-size: 25;
    text-align: center;
}

h4{
    background-color: lightblue;
    padding: 10px;
    width: 145px;
    text-align: center;
    margin: 1px auto;
}

#verde{
    background-color: green;
    color: white;
    padding: 10px;
    width: 140px;
    margin: 1px auto;
}